.logo {
    width: 100%;
    height: 100px;
}
.container{
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.teg{
    display: flex;
    justify-content: space-between;
}
.logo__block{
width: 92px;
height: 24px;
top: 60px;
left: 165px;
font-family: Josefin Sans;
font-size: 24px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.06em;
text-align: left;
color: #1d2830 #794CFF;
margin-top: 25px;
}
.menu{
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
    width: 60%;
}
.a{
    width: 100px;
    height: 16px;
    top: 64px;
    left: 490px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #35414B; 
    /* margin: 57px;      */
}
.b{
    width: 60px;
    height: 16px;
    top: 64px;
    left: 647px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #35414B;
    /* margin: 60px; */
}
.c{
    width: 52px;
    height: 16px;
    top: 64px;
    left: 767px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #35414B;
    /* margin: 39px; */
}
.f{
    width: 79px;
    height: 16px;
    top: 64px;
    left: 858px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #35414B;
    
}
.btn{
    display: flex;
    margin-top: 25px;
    width: 20%;
    justify-content: space-evenly;
}
#nav_btn_login{
    width: 122px;
    height: 16px;
    top: 64px;
    left: 1129px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    width: 169px;
    height: 48px;
    top: 48px;
    left: 1106px;
    border-radius: 4px;
    background-color: transparent;
    border: none;

}
#nav_btn_sign_up{
    width: 122px;
    height: 16px;
    top: 64px;
    left: 1129px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    width: 169px;
    height: 48px;
    top: 48px;
    left: 1106px;
    border-radius: 4px;
    background: #ECE5FF;
    color: #794CFF;

          
}
.часть2 {
    width: 100%;
    height: 100px;
}
.container2 {
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.lucki {
    display: flex;
    justify-content: center;
}
.logo__puk {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    width: 108px;
    height: 32px;
    top: 196px;
    left: 578px;
    border-radius: 100px;
    background-color:  #84C43B;
    
}
.puk {
    width: 76px;
    height: 16px;
    top: 204px;
    left: 594px;
    color: #FFF;    
}
.tic {
    width: 147px;
    height: 16px;
    top: 204px;
    left: 694px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #35414B;
        
}
.часть3 {
    width: 100%;
    height: 100%;
}
.container3 {
    width: 760px;
    height: 144%;
    margin: 0 auto;
}
.Hi {
    width: 760px;
    height: 144px;
    top: 252px;
    left: 340px;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #35414B;
        
}
.часть4 {
    width: 100%;
    height: 100%;
}
.container4 {
    width: 760px;
    height: 144%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.Ha{
    width: 505px;
    height: 48px;
    top: 420px;
    left: 467px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #4E5A65;
    
}
.часть5 {
    width: 100%;
    height: 100%;
}
.container5 {
    width: 760px;
    height: 144%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.He{
width: 196px;
height: 16px;
top: 510px;
left: 504px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
background: transparent;
display: flex;
justify-content: center;
}
#nav_btn_free{
    width: 122px;
    height: 16px;
    top: 64px;
    left: 1129px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    width: 169px;
    height: 48px;
    top: 48px;
    left: 1106px;
    border-radius: 4px;
    background-color: #794CFF;
          
}
.часть6{
    width: 100%;
    height: 100%;
}
.container6{
    width: 1000px;
    height: 700px;
    margin: 0 auto;
}
.Ti{
    background-image: url(../CSS/images/Graph\ 2\ 1.png);
    width: 1000px;
    height: 1000px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 920px;
    height: 654.29px;
    top: 592px;
    left: 260px; 
}
.часть7{
    width: 100%;
    height: 100%;
}
.container7{
    width: 760x;
    height: 60px;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
}
.Tu{
    width: 397px;
    height: 16px;
    top: 1347px;
    left: 522px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

}
.часть8{
    width: 100%;
    height: 100%;
}
.container8 {
    width: 760px;
    height: 144%;
    margin: 0 auto;
    
}
.make__row{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.часть9{
    width: 1505px;
    height: 640px;
    top: 1514px;
    left: -33px;
    border: 1px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    
       
}
.section-2_left{
    Width: 657px;
    Height: 518px;
    margin: 0 auto;
    background-image: url(../CSS/images/Group\ 25.png);
    background-repeat: no-repeat;
    display: flex;
    
}
.section-2_right_icon{
    background-image: url(../images/Rectanglen23.png);
    width: 180px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    padding-right: 22px;
    margin: 0 auto;
    
}
.section-2_right{
    width: 560px;
    height: 400px;
    
}
.section-2_right_blocks{
    display: flex;
    width: 560px;
    height: 217px;
    flex-direction: column;
    
}
.blokcs-description span{
    color: #3B668D;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 166.667% */

}
.blokcs-description p{
    color: #2B4964;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.section-2_right_icon img {
    margin-left: 10px;
}
.часть10{
    width: 100%;
    height: 100%;
}
.container10 {
    width: 760px;
    height: 144%;
    margin: 0 auto; 
    display: flex; 
    justify-content: center;
}
.Pu{
width: 436px;
height: 40px;
top: 2254px;
left: 501px;
font-family: Inter;
font-size: 40px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0em;
text-align: center;

}


















































/* .containernav{ 
    display: flex;
    width: 1200px;
    justify-content: center;
}



.nav2 {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 100px;
}
.container2 {
    width: 82%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
}
.parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.logo__block {
    width: 20%;
    height: 100%;
    background-color: red;
}
.menu__block {
    width: 40%;
    height: 100%;
    background-color: green;
}
.btn__block {
    width: 20%;
    height: 100%;
    background-color: yellow;
} */